body{
	margin-top:160px;
	padding:0;
	font-family:Arial, sans-serif;
	background-image: url('DJI_0033.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	animation: fadeIn 4s ease-in-out;
	display: flex;
	justify-content: center;
	height: 50vh;
	align-items:center;	
}
@keyframes fadeIn{
	0%{opacity:0.1;}
	100%{opacity:1; }
}

}

.student-color{	
	
	
}
.login-container{
	
	background:#fff;
	padding:30px;
	border-radius:8px;
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	width:300px;
	opacity:0.86;
	
	
}
.login-container h2{
	text-align: center;
	margin-bottom: 20px;
	color:#333;
}
.login-container input[type="text"],
.login-container input[type="password"] {
	width:100%;
	padding: 10px;
	margin: 8px 0 16px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.login-container button{
	width:100%;
	padding: 10px;
	background: #4CAF50;
	border:none;
	color: white;
	font-size: 16px;
	cursor: pointer;
}
.login-container button: hover{
	background:red;
}
